
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Choose from below</h2>
<br />
<!--Buttons interface-->
<div class="col-lg-offset-5"> 
    <ul>  
        @*<button type="button" class="btn-info btn-lg" data-toggle="modal" data-target="#myModal">Renter</button>*@
        <li>@Html.ActionLink("Click here for Available vacancies!", "Renter", "Login")</li>
        @*<button type="button" class="btn-info btn-lg" data-toggle="modal" data-target="#myModal">Owner</button>*@
@*</div>
<div class="col-lg-offset-5 col-lg-6">*@
    @*<button type="button" class="btn-info btn-lg" data-toggle="modal" data-target="#myModal">Renter</button>*@
    @*<button type="button" class="btn-info btn-lg" data-toggle="modal" data-target="#myModal">Owner</button>*@
    @*@Html.ActionLink("Click here to post a vacancy!", "Owner", "Login")*@
    <li><a href="~/Resident.aspx">Click here to post a vacancy!</a></li>
@*</div>
<div class="col-lg-offset-9 col-lg-6">*@
    @*<button type="button" class="btn-info btn-lg" data-toggle="modal" data-target="#myModal">Renter</button>*@
    @*<button type="button" class="btn-info btn-lg" data-toggle="modal" data-target="#myModal">New users signup here!</button>*@
</ul>
</div>

