
@{
    ViewBag.Title = "success";
}
   
<h2 class="text-center">Successfully added to the database!</h2>
<div class="col-lg-offset-5">
    <ul>
        <li>
            <a href="http://localhost:49899/Login">Click here to go to previous page.</a>
        </li>
        <li>
            <a href="~/Resident.aspx">Click here to add another vacancy.</a>
        </li>
    </ul>
</div>

