@{
    ViewBag.Title = "Home";
}
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://www.loversiq.com/daut/as/f/t/the-im-on-top-of-world-suite_best-top-floor-apartment-images-in-the-world_apartment_design-your-apartment-district-dallas-apartments-interior-for-small-floor-plans-designs-how-to-a-studio.jpg');"></div>
            <div class="carousel-caption">
                <h1>Find your home!</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://cubtab.com/daut/as/f/t/the-im-on-top-of-world-suite_best-top-floor-apartment-images-in-the-world_apartment_small-studio-apartment-design-apartments-interior-for-micro-basement-ideas-bedroom.jpg');"></div>
            <div class="carousel-caption">
                <h1>Find your peace!</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('https://im.proptiger.com/1/1424812/80/greenwoods-others-5029281.jpeg');"></div>
            <div class="carousel-caption">
                <h1>
                    Find serenity!
                </h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Lookup for an appartment to rent</h3>
                <p>Find an appartment according to your convenience and needs!</p>
            </div>
            <div class="col-lg-6 col-md-4">
                <h3><i class="fa fa-pencil"></i> Let your appartment for rent</h3>
                <p>Earn some extra bucks per month with the spare appartment you got!</p>
            </div>
            @*<div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Many Page Options</h3>
                <p>This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
            </div>*@
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
<
<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                        <h2>We provide rent transfer and management services as well.</h2>
                        <p>Now you don't need to bother about your rental every month. Stay relaxed, trust on us!</p>
                        <hr>            
            </div>
        </div>
    </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Find your appartment</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
               
                    <img class="img-thumbnail" src="http://www.exposedmagazine.co.uk/wp-content/uploads/2016/07/chicago-2-1-700x450.jpg">
             
      
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
               
                    <img class="img-thumbnail" src="\ny.jpg">
              
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                
                <img class="img-thumbnail" src="\phil.jpg">
                
            </div>
           
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

