
@{
    ViewBag.Title = "Index";
}

<div class="main-cont faq">
    <h2 class="text-center">
        Frequently asked questions
    </h2>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-group js-faq margin-bottom0" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        <div id="heading1">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                Who can list a holiday property?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1" aria-expanded="true">
                        <div class="panel-body faq-body">
                            If you own a property, or more than one property, you can list it using the registration form above. If you manage properties on behalf of someone else, you can follow the same process but on a following page, you can specify that you are an agent.  Or, if you don’t own a property but wish to promote Clickstay or a specific property on Clickstay, you can register as an affiliate and start earning commission from Clickstay.
                        </div>
                    </div>
                </div>
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        <div id="heading2">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                How do I list my first property?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2" aria-expanded="false">
                        <div class="panel-body faq-body">
                            Complete the “List your holiday property” form on this page, and you will be taken to the Rentalsystems property set up page. From here, you can add all the necessary details about your property (number of beds, description of the area, garden details, etc).
                        </div>
                    </div>
                </div>
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        <div id="heading3">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                Can I list more than one property?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3" aria-expanded="false">
                        <div class="panel-body faq-body">
                            Yes, we do not limit the number of properties you can list.
                        </div>
                    </div>
                </div>
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        <div id="heading4">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                How much does it cost?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4" aria-expanded="false">
                        <div class="panel-body faq-body">
                            There is a one-off start-up fee of £1, $1 or €1 which you pay once you are happy with your property advert. You can upload unlimited property adverts. <br><br>We charge 10% commission when a renter booking is made via the Clickstay website. For bookings made via an owner’s website which is powered by Rentalsystems we charge:<br>- 2% commission for on-request bookings;<br> - 0% commission for instant bookings.
                        </div>
                    </div>
                </div>
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        <div id="heading5">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                How do I get paid for bookings?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5" aria-expanded="false">
                        <div class="panel-body faq-body">
                            For your first booking you cannot transfer the money to your chosen bank account until the renter has stayed in the property for at least 3 nights. For any following bookings, you will be able to receive the money earlier by paying an early payment fee.
                        </div>
                    </div>
                </div>
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        <div id="heading6">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                Can I trial the system before I pay my £1 / $1 / €1?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6" aria-expanded="false">
                        <div class="panel-body faq-body">
                            You can create a property listing (or several property listings) before paying the joining fee. You can add all the details of the accommodation, the prices, the available dates and so on – everything you need for a live property. You can preview the property exactly as it would appear on the Clickstay website, all before paying the joining fee.
                        </div>
                    </div>
                </div>
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        <div id="heading7">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                How much time will I have to spend dealing with each booking?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7" aria-expanded="false">
                        <div class="panel-body faq-body">
                            Almost none, if that’s what you want. You can set your property up to accept instant bookings (the system preferred by renters), meaning that provided that a renter meets the criteria you have specified for the property – which can be as particular as you like – the booking is confirmed automatically. The system then sends automated emails at the appropriate times to remind the renter to pay their balance, give them directions to the property, and so on.
                        </div>
                    </div>
                </div>
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        <div id="heading8">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                Who can book through Rentalsystems?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8" aria-expanded="false">
                        <div class="panel-body faq-body">
                            Anyone can browse the Clickstay website for their next holiday rental. However you retain complete control over who can book your property. So, if you don’t wish to have single gender groups in your property, you don’t have to. You set the parameters of the bookings you are willing to accept and ultimately decide whether or not to agree to a booking.
                        </div>
                    </div>
                </div>
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                        <div id="heading9">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                How much control do I have over the booking process?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9" aria-expanded="false">
                        <div class="panel-body faq-body">
                            You control everything about the booking process. You decide the dates the property is available, and how much it costs to rent. You choose if there is a minimum stay period, or if bookings must start on a certain day of the week.  You decide how much deposit must be paid to secure a booking, and when it must be paid; how much breakage cover the renter must pay; any extras you wish to charge for (e.g. cleaning costs) and so on.
                        </div>
                    </div>
                </div>
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        <div id="heading10">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                Can I list an apartment, caravan, castle, yurt or boat?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10" aria-expanded="false">
                        <div class="panel-body faq-body">
                            Yes – you can list any accommodation that you think a renter might like to stay in!
                        </div>
                    </div>
                </div>
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        <div id="heading11">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                How do I communicate with renters?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11" aria-expanded="false">
                        <div class="panel-body faq-body">
                            Renters can contact you directly from your property advert, or if they have made a booking with you, from their Clickstay or Rentalsystems renters account. You will receive the message as an email, and it will also be stored in the inbox of your Rentalsystems page, and visible from the dashboard. You will also get an SMS text message on your mobile phone to notify you that you have received a message.
                        </div>
                    </div>
                </div>
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        <div id="heading12">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                How do I take bookings?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12" aria-expanded="false">
                        <div class="panel-body faq-body">
                            If you have set up instant booking, then a renter will book directly through the system and you will be notified of it. If you haven’t set up instant booking, then a renter will make a booking request which will show up on your Rentalsystems page. You can then decide whether to get in touch with the renter to discuss the booking further, or accept or decline the booking immediately.
                        </div>
                    </div>
                </div>
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
                        <div id="heading13">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                I already advertise my property on my own website - can I still use your booking tools?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13" aria-expanded="false">
                        <div class="panel-body faq-body">
                            If you already have a website advertising your property, or perhaps you advertise it through Facebook or other social media, you can use our systems to easily manage and process your own bookings. To find out more, register above (at no cost) and go to the “Owner tools” section. Alternatively, please feel free to call us so we can explain the options to you, on +44 (0) 203 696 2870.
                        </div>
                    </div>
                </div>
                <div class="pan panel">
                    <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
                        <div id="heading14">
                            <h4 class="pan-title">
                                <span class="flaticon-plus-circle"></span>
                                <span class="flaticon-minus-circle"></span>
                                I already advertise my property on another site.  How can I co-ordinate things?
                            </h4>
                        </div>
                    </a>
                    <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14" aria-expanded="false">
                        <div class="panel-body faq-body">
                            We offer flexibility with other listing sites, so you can use these alongside Clickstay to get as many bookings as possible.<br><br> If you are listing your property on multiple sites, you can use iCalendar to keep availability in sync and prevent double bookings for the same holiday period. Correctly setting up an iCalendar feed will ensure that your property availability stays up to date across different sites that support it and you won’t have to manually log into each site to mark the dates unavailable when you receive a new booking.
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center margin-top20" style="display: none;">
                <a href="" class="js-see-faq">See more FAQs</a>
            </div>
        </div>
    </div>
</div>
